@import "vars";
@import "fonts";
@import "libs";

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #fafafa;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-width: 320px;
	min-height: 320px;
	margin: 0 auto;
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
}

.main {
	position: relative;
	padding: 64px 0 16px;
	box-sizing: border-box;
}

.footer {
	flex: 0 0 auto;
	text-align: center;
}

.link {
	display: block;
	text-decoration: none;
	outline: none;
	color: #000;
	&._s {
		color: #fff;
	}
	&:hover,
	&:active,
	&:focus {
		color: #ef6c00;
	}
}

.paragraph._small {
	font-size: 0.875rem;
}

._bg-s {
	background-color: #283593;
}

._ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.icon {
	&._p {
		fill: #fff;
		&:hover {
			fill: #ef6c00;
			cursor: pointer;
		}
	}
	&._s {
		fill: #283593;
		&:hover {
			fill: #2135bc;
			cursor: pointer;
		}
	}
	&._disable {
		fill: #949bca !important;
	}
}

@import "media";